* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0.31rem;
}

.card {
    display: grid;
    grid-template-columns: 1.87rem 11.25rem;
    grid-template-rows: 1.87rem 12.94rem;

    text-align: center;
}

.card .side-bar,
.card .cover {
    display: flex;
    flex-direction: column;
}

.card .side-bar {
    grid-row: 2 / 3;

    justify-content: space-between;
}

.card .read-status {
    grid-area: 1 / 2 / 2 / 3;

    margin-top: auto;
}

.card .cover {
    grid-area: 2 / 2 / 3 / 3;
    padding: 1.25rem 0.63rem 1.25rem 1.25rem;

    justify-content: flex-start;

    /* Dynamically set via JS */
    color: #9F8883;
    background-image: url(assets/book-lb.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.side-bar img {
    width: 1.25rem;
    height: auto;
}

.inactive {
    opacity: 25%;
}

.side-bar div,
.side-bar p {
    padding: 0.31rem 0;
    background-color: #fff;
    border-top-left-radius: 0.63rem; 
    border-bottom-left-radius: 0.63rem;
}

.side-bar p {
    margin-bottom: 0.63rem;
}

.cover p {
    font-size: 0.87rem;
}

.cover p:last-child {
    margin-top: auto;
}